
 #nx_wrapper {
    overflow-x: hidden;
 }

#nx-sidebar-wrapper {
  min-height: 100vh;
  margin-left: -15rem;
  -webkit-transition: margin .25s ease-out;
  -moz-transition: margin .25s ease-out;
  -o-transition: margin .25s ease-out;
  transition: margin .25s ease-out;
}

#nx-sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}

#nx-sidebar-wrapper .list-group {
  width: 15rem;
}

#nx-page-content-wrapper {
  min-width: 100vw;
}

#nx_wrapper.toggled #nx-sidebar-wrapper {
  margin-left: 0;
}

@media (min-width: 768px) {
  #nx-sidebar-wrapper {
    margin-left: 0;
  }

  #nx-page-content-wrapper {
    min-width: 0;
    width: 100%;
  }

  #nx_wrapper.toggled #nx-sidebar-wrapper {
    margin-left: -15rem;
  }
}
